<h1>Лабораторная работа 1</h1>
<div>
    <h3>Список</h3>
    <ol type="A">
        <li>элемент 1</li>
        <li>элемент 2</li>
    </ol>
</div>

<div>
    <h3>Форма</h3>
    <form method="get" action="/">
        <div class="form-group" style="padding-left: 50px">
            <input type="checkbox" id="first-box" name="first-box" value="1" />
            <label for="first-box">Чек-бокс 1</label> <br />

            <input type="checkbox" id="second-box" name="second-box" value="2" />
            <label for="second-box">Чек-бокс 2</label> <br />
        </div>

        <br />

        <div class="form-group" style="padding-left: 50px">
            <input type="radio" id="first-radio" name="radio" value="1" />
            <label for="first-radio">Радио-1</label>

            <input type="radio" id="second-radio" name="radio" value="2" />
            <label for="second-radio">Радио-2</label>

            <input type="radio" id="third-radio" name="radio" value="3" />
            <label for="third-radio">Радио-3</label>
        </div>

        <br />

        <div class="form-group">
            <label for="login" style="margin-right: 50px">Логин:</label>
            <input type="text" id="login" name="login" placeholder="Введите имя" style="width: 500px; margin-bottom: 10px" />

            <br />

            <label for="password" style="margin-right: 40px">Пароль:</label>
            <input type="password" id="password" name="password" placeholder="Введите пароль" style="width: 500px; margin-bottom: 10px" />
        </div>

        <input type="submit" value="Сохранить" />
    </form>
</div>
